// Пути

$fonts: "../fonts";
$img: "../img";

// Цвета

$color-black: #000000;
$color-white: #ffffff;

$text-color: #b95379;
$text-color-hover: #d1668d;
$text-color-active: #e46d98;

$block-background-color: #ff93bb;
