.about {
  margin: 0;
  padding: 10px;

  font-family: "Dosis", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
}

.about__link {
  color: $text-color;

  &:hover {
    color: $text-color-hover;
  }

  &:active {
    color: $text-color-active;
  }
}
